/*=== Trabajando CSS para dispositivos moviles===*/
*{
  box-sizing: border-box;
  padding: 1px;
  margin: 0;
}
img{
  width: 100%;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 222, 156);
}
.menu{
  background-color: rgb(211, 127, 67);
  padding: 5px;
  top: 0;
  z-index: 1000;
}
.variedades{
  display: flex;
  flex-wrap: wrap;
}
article{
  position: relative;
}
section.variedades article h2.producto{
  padding: 2.5%;
}
section.variedades article h1.precio{
  padding-left: 2.5%;
}
.oferta{
  position: absolute;
  width: 15%;
  top: 9px;
  right: 9px;
  animation-name: oferton;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.btagregar{
  width: 35%;
  height: 40px;
  border: none; 
  outline: solid red thin;  
  color: red;
  border-radius: 6px;
  margin: 2.5%; 
}
section.variedades article button:hover{
  cursor: pointer;
  color:#f8f0ee;
  background-color: #f13413;
  transform: scale(1.1);
  transition: all 200ms ease-in
}
.descrip{
  padding: 4.5%;
}
@keyframes oferton {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.5);
  }
}
.titulo{
  color: rgb(12, 12, 12);
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
/*=== Aplicando CSS para una Dispositivos Moviles===*/
/* Ocultar descripción en móviles  */
@media (max-width: 766px) {
  .variedades article p.descrip {
    display: none;
  }
}
/*=== Aplicando CSS para una Tablet===*/
@media (min-width:768px){
  .titulo{
    color: rgb(12, 12, 12);
    font-size: 3rem;
  }
  .variedades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .imgproducto{
    height: 200px;
  }
}
/*=== Aplicando CSS para un Desktops===*/
@media(min-width:992px){
  .titulo{
    color: rgb(12, 12, 12);
    font-size: 4rem;
  }
  .variedades{
    grid-template-columns: repeat(4,1fr);
  }
  .imgproducto{  
    height: 200px;
  }
}

